<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Camper Rentner</title>
    <meta name="description" content="Camper Rentner" />
    <meta name="author" content="Daily Dev Tips" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

    <header class="pt-10">
      <nav class="fixed top-0 flex w-full bg-red-300 shadow dark:bg-gray-800">
          <div class="container px-6 py-4 mx-auto">
              <div class="lg:flex lg:items-center lg:justify-between">
                  <div class="flex items-center justify-between">
                      <div class="text-xl font-semibold text-gray-700">
                          <a class="text-2xl font-bold text-gray-800 dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="#">Camper Rentner</a>
                      </div>
  
    
                  <div class="flex lg:hidden"> -->
                          <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                              <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                                  <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                              </svg>
                          </button>
                      </div>
                  </div>
  
                  <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                  <div class="hidden -mx-4 lg:flex lg:items-center">
                      <a href="#eins" class="block mx-4 mt-2 text-sm text-gray-700 capitalize lg:mt-0 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400">Berge</a>
                      <a href="#eins" class="block mx-4 mt-2 text-sm text-gray-700 capitalize lg:mt-0 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400">Luxus Camp</a>
                      <a href="#eins" class="block mx-4 mt-2 text-sm text-gray-700 capitalize lg:mt-0 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400">Camping Treffen</a>
                      <a href="#youtube" class="block mx-4 mt-2 text-sm text-gray-700 capitalize lg:mt-0 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400">YouTube</a>
                  </div>
              </div>
          </div>
      </nav>
  
      <div class="w-full bg-center bg-cover h-96" style="background-image: url(https://res.cloudinary.com/dzocf92ey/image/upload/v1630146964/Header_rwsfwe.jpg);">
          <div class="flex items-center justify-center w-full h-full bg-gray-500 bg-opacity-50">
              <div class="text-center">
                  <h1 class="text-2xl font-semibold text-white lg:text-3xl">Nun seid ihr in einem Jahrzehnt angekommen, dass die Rente verspricht: Ihr werdet gaaaanz viel Zeit zum Campen haben und gaaaanz viel Zeit, Euch damit zu beschäftigen. </h1>
              </div>
          </div>
      </div>
  </header>

 

  <section id="eins" class="container mx-auto py-10">

    <div class="flex flex-col items-center space-y-4 lg:flex-row lg:justify-center lg:space-x-4 lg:items-stretch lg:space-y-0">
  
      <div class="flex-1 bg-white shadow-lg rounded-lg hover:shadow-xl transition duration-200 max-w-sm">
        <img class="h-52 object-cover w-full rounded-t-lg" src="https://res.cloudinary.com/dzocf92ey/image/upload/v1630146959/Bild_1_fzjdxx.jpg" alt="" />
        <div class="py-4 px-8">
          <h1 class="hover:cursor-pointer mt-2 text-gray-900 font-bold text-2xl tracking-tight">Als Camper Rentner in den Bergen</h1>
          <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">Ihr werdet den Bergen weiterhin treu bleiben und viele tolle Stellplätze unter Gipfeln genißen können. Vielleicht werden die 1000m Anstiege nicht mehrso häufig vorkommen. Aber das macht ja nichts. MAn kann ja auch die Gondel benutzen.</p>
        </div>
      </div>

      <div class="flex-1 bg-white shadow-lg rounded-lg hover:shadow-xl transition duration-200 max-w-sm">
        <img class="h-52 object-cover w-full rounded-t-lg" src="https://res.cloudinary.com/dzocf92ey/image/upload/v1630146960/Bild_2_gr6bcd.jpg" alt="" />
        <div class="py-4 px-8">
          <h1 class="hover:cursor-pointer mt-2 text-gray-900 font-bold text-2xl tracking-tight">Als Camper Rentner im Luxus Camping Resort.</h1>
          <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">Man gönnt sich ja sonst nichts. Das it auch im Alter die Divise. Ihr werden auf den Trend Luxus Camping nur allzu gern aufspringen. Ab 50 EUR aufwärts ist der Sauangang und der Pool mit inbegriffen. Das solltet ihr Euch nicht entegehn lassen.</p>
        </div>
      </div>

      <div class="flex-1 bg-white shadow-lg rounded-lg hover:shadow-xl transition duration-200 max-w-sm">
        <img class="h-52 object-cover w-full rounded-t-lg" src="https://res.cloudinary.com/dzocf92ey/image/upload/v1630146960/Bild_3_aubri7.jpg" alt="" />
        <div class="py-4 px-8">
          <h1 class="hover:cursor-pointer mt-2 text-gray-900 font-bold text-2xl tracking-tight">Die Camper rentner beim Camping Treffen</h1>
          <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">Natürlich wird auch in Zukunft das regelmßige Treffen mit den anderen XYZ fehlen. Dann lernt man jedes Jahr gleichgesinnte kennen und kann auch das neuste Feature inspizieren. Viel persönlicher als eine Messe.</p>
        </div>
      </div>
    </div>

  </section>

  <div class="bg-red-50 py-10">

  <section id="youtube" class="container mx-auto grid grid-row space-y-1 lg:grid-cols-2 h-96 lg:w-full lg:space-x-1 lg:space-y-0">

    <div class="relative">
      <iframe
      class = "absolute min-w-full min-h-full max-w-none"
        src="https://www.youtube.com/embed/hSq-Ymuw6t0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowFullScreen
      ></iframe>
    </div>
    
    <div class="flex bg-white shadow-lg rounded-lg">
      <div class="m-auto">
        <h1 class="text-center hover:cursor-pointer font-bold text-2xl mt-2 text-gray-900 tracking-tight">Damit es euch nicht langwilig wird ...</h1>
        <p class="text-center hover:cursor-pointer px-3 py-3 text-gray-600 leading-6">... wenn ihr mal nicht auf Reisen seid. Dafür habt ihr Eure Youtuber. Da möchten wir natürlich unterstützen, wo wir können. Deswegen sind wir nun in Eurem Namen Patreons von <br class="text-xl"> Oskar The Explorer <br> geworden. Sie sollen Euch auch noch lange erhalten bleiben.  </p>
      </div>
    </div>
  </div>

  </section>


  <!-- <section class="container mx-auto grid grid-cols-2">

    <div>
      <img src="https://images.unsplash.com/photo-1622495894307-93143fc57155" alt="Picture" />
    </div>


    <div class="bg-red-200 flex">
      <div class="m-auto">
        <h1 class="hover:cursor-pointer mt-2 text-gray-900 font-bold text-2xl tracking-tight">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
    </div>

  </section> -->

  
  <div class="w-full bg-center bg-cover h-48">
    <div class="flex items-center justify-center w-full h-full bg-red-50	">
        <div class="container text-center bg-white shadow-lg rounded-lg">
            <h1 class="text-gray-900 lg:text-3xl">Alles Liebe und alles Gute zu Eurem 60. Geburtstag! <br> Euer Max & Eure Elsa.</h1>
        </div>
    </div>
</div>

</body>

  </body>
  </html>